<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <!-- Mars Data -->
        
        <div class="row" id="mars-data" style="margin-top: -4rem;">
            <div class="col-md-8">
                <h2>Latest Mars News</h2>
                {% for m in mars_info %}
                <h4 class="heading" style="font-weight: bold;">{{ m.news_title }}</h4>
                {{ m.news_p }}<br>
                <!-- <h1>Featured Mars Image</h1> -->
                </div>
                <div class="custom-row2 mx-md-5 pt-5">
                    <div class="col px-md-5">
                      <div class="container-fluid bg-white rounded">
                        <div class="p-4 bg-white">
                        
                        <hr><div class="text-wrap mt-2 summary-text">
                        <img src="{{ m.featured_image_url }}" width="500"></div>
                        </div>
                      </div>
                    </div>
                
                  <!--------------------------------->
                  <!---------RIGHT CONTAINER--------->
                  <!--------------------------------->
                  
                  <div class="custom-row mx-md-n5">
                    <div class="col-8">
                      <div class="container">
                        <div class="px-5 py-4 bg-white rounded">
                            {{ m.facts_table | safe }}
                        </div>
                      </div>
                    </div>
                </div>
                


                <div class="col-md-12">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col mb-4">
                      <div class="card">
                        <img src="{{ m.img_url }}" class="card-img-top" alt="{{ m.title }}">
                        <div class="card-body">
                          <h5 class="card-title">{{ m.title}}</h5>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
</body>

</html>